
<div class="container-fluid bg-secondary mt-5 h-100">
<div class="col"></div>
<div class="col">
    <div class="row justify-content-center pb-5 h-25">
        <h1>We Found You a Restaurant!</h1>
    </div>
    <div class="row justify-content-center pb-5 h-25">
        <h2>Tonight, you are going to eat at <a href="<%=@choice.menu_link%>"><%= @choice.name  %></a></h2>
    </div>
    <div class="row justify-content-center pb-5 h-25">
        <p>I'm not into it. I'd rather <a class="btn btn-secondary" href="/pick_restaurant">pick another restaurant</a> or <a class="btn btn-secondary" href="/restaurants">browse my restaurants.</a></p>
    </div>
    <div class="row justify-content-center pb-5 h-25">
        <a class="btn btn-secondary" href="/">Home</a>
    </div>
</div>
<div class="col"></div>
</div>