<h1>
  Add a new composition
</h1>


<hr>

<form action="/create_composition" method="post">

  <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

    <input type="text" id="quantity" name="quantity" class="form-control">
  </div>

  <div class="form-group">
    <label for="recipe_id">
      Recipe
    </label>

    <input type="text" id="recipe_id" name="recipe_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="ingredient_id">
      Ingredient
    </label>

    <input type="text" id="ingredient_id" name="ingredient_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create composition
  </button>
</form>

<hr>

<a href="/compositions">
  Go back
</a>
